/*--------------------------------------------------------------
Custom
--------------------------------------------------------------*/

body #masthead {
  
}
/*************** CATEGORY ON HEADER ***************/
.nasa-top-cat-filter-wrap {
    background: #1e1e1e;
    .cat-item {
      &.root-item > a {
        color: #aaa;
      }
      &.active > a {
        color: #fff;
      }
    }
    .nasa-current-note {
      border-color: #fff;
    }
    .nasa-top-cat-filter {
      border-bottom: 1px solid #193f29;
    }
    .nasa-close-filter-cat {
      color: #fff;
    }
  }
  
  #main-content .product-section .banner {
    margin-bottom: 0px;
  }
  
  #nasa-footer .footer-dark {
    background: #1e1e1e;
  }
  
  /** Size on Hover **/
  
  .product-item .nasa-product-content-select-wrap {
    left: -100%;
    .nasa-toggle-attr-select {
      display: none;
    }
    .nasa-product-content-child {
      .nasa-toggle-content-attr-select .nasa-attr-ux-item {
        display: inline-block;
        margin: 0 2px;
        border-radius: 16px;
        padding: 3px 7px;
      }
      padding-bottom: 0px;
    }
    width: 100%;
    height: auto;
    top: auto;
    bottom: 30px;
  }
  
  .nav-wrapper .root-item > a {
    padding: 15px 25px 15px 0;
  }
  
  .header-icons > li {
    margin-left: 25px;
  }
  
  .pe-7s-menu:before {
    content: '\f0c9';
    font-family: FontAwesome;
  }
  
  .nasa-follow-title, .nasa-search-post-label {
    font-size: 140%;
    line-height: 2;
    padding-bottom: 10px;
    color: #FFF;
    font-weight: normal;
  }
  
  .socialmedia-widget li a::before {
    display: block;
    transition: all 0.3s ease;
    font-family: FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #nasa-footer {
    .footer-dark {
      .nasa-follow a, .nasa-share li a {
        color: inherit;
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
      }
    }
    .nasa-search-form-warp .nasa-search-post-form .nasa-search-post-wrap {
      .nasa-search-input {
        width: 80%;
        float: left;
      }
      .nasa-icon-submit-page {
        width: 20%;
        float: right;
      }
    }
    .nasa-icon-submit-page input[type="submit"] {
      padding: 11px 14px;
    }
    .nasa-search-form-warp .nasa-search-post-form {
      padding-left: 10px;
    }
  }


body .mobile-menu .logo-wrapper .header_logo {
    width: 155px !important;
    max-height: none !important;
    height: auto !important;
  }
  
  #masthead {
    padding: 15px 0 15px 0;
  }
  
  #chart-button {
    display: block;
  }
  
  #masthead .header-container .logo-wrapper .logo a {
    line-height: 53px;
  }
  
  .fixed-header-area.fixed-already {
    top: 0;
    background: #000;
  }
  
  #masthead .header-container .logo-wrapper .logo a img {
    top: -2px;
    position: relative;
  }
  
  .fixed-header-area.fixed-already .header-icons > li a .nasa-icon {
    font-size: 175%;
    position: relative;
    color: #fff;
  }
  
  #header-content .fixed-header .logo-wrapper a {
    line-height: 53px;
  }
  
  .cta-box .banner {
    margin: 20px 0;
  }
  
  span.nasa-login-title {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 0.8em;
  }
  
  @media only screen and (max-width: 52.96552em) {
    #nasa-menu-sidebar-content .nasa-mobile-nav-wrap {
      padding: 15px;
    }
    .mobile-menu.nasa-mobile-fixed {
      background: #000;
      position: fixed;
    }
    .nasa-mobile-menu-icon {
      z-index: 9999;
    }
    .nasa-mobile-menu-icon, .mobile-search {
      color: #fff !important;
    }
    #masthead {
      padding: 0 0 0 0;
    }
    .product-item .nasa-product-content-select-wrap .nasa-product-content-child .nasa-toggle-content-attr-select .nasa-attr-ux-item {
      font-size: 11px;
      padding: 2px 4px;
    }
    #nasa-footer .nasa-search-form-warp .nasa-search-post-form .nasa-search-post-wrap {
      .nasa-search-input {
        width: 70% !important;
        float: left;
      }
      .nasa-icon-submit-page {
        width: 30% !important;
        float: right;
      }
    }
    #nasa-menu-sidebar-content {
      margin-top: 63px;
      max-width: 100% !important;
      background: #000000e0;
      #mobile-navigation .menu-item-heading {
        display: none;
      }
    }
  }
  
  .product-item .nasa-product-content-select-wrap .nasa-product-content-child {
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .nasa-toggle-content-attr-select .nasa-attr-ux-item {
      font-size: 11px;
    }
  }
  
  body #masthead {
    background-color: #000000;
  }
  
  .nav-wrapper .default-menu > .nav-dropdown ul {
    background: #000;
    border: none;
    li a {
      color: #fff;
    }
  }
  
  #top-bar {
    display: none;
  }
  
  .nav-wrapper .root-item > a {
    padding: 15px 25px 15px 0;
  }
  
  .header-icons > li {
    margin-left: 25px;
  }
  
  body {
    .nav-wrapper .root-item > a .nasa-text-menu:after {
      border-color: #00913d;
    }
    .nasa-bg-dark .nav-wrapper .root-item {
      &:hover > a .nasa-text-menu:after, &.current-menu-ancestor > a .nasa-text-menu:after, &.current-menu-item > a .nasa-text-menu:after {
        border-color: #00913d;
      }
    }
  }
  
  .pe-7s-menu:before {
    content: '\f0c9';
    font-family: FontAwesome;
  }
  
  .nasa-follow-title, .nasa-search-post-label {
    font-size: 140%;
    line-height: 2;
    padding-bottom: 10px;
    color: #FFF;
    font-weight: normal;
  }
  
  .socialmedia-widget li a::before {
    display: block;
    transition: all 0.3s ease;
    font-family: FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #nasa-footer {
    .footer-dark {
      .nasa-follow a, .nasa-share li a {
        color: inherit;
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
      }
    }
    .nasa-search-form-warp .nasa-search-post-form .nasa-search-post-wrap {
      .nasa-search-input {
        width: 80%;
        float: left;
      }
      .nasa-icon-submit-page {
        width: 20%;
        float: right;
      }
    }
    .nasa-icon-submit-page input[type="submit"] {
      padding: 11px 14px;
    }
    .nasa-search-form-warp .nasa-search-post-form {
      padding-left: 10px;
    }
  }
  
  .nav-dropdown .sub-menu .menu-item a {
    .nasa-text-menu::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      border-top: 2px solid #555555;
      -webkit-transition: all 350ms ease;
      -moz-transition: all 350ms ease;
      transition: all 350ms ease;
    }
    &:hover .nasa-text-menu::after {
      border-color: #00913d !important;
    }
  }
  
  .nasa-right-main-header {
    width: 25%;
  }
  
  .nasa-left-main-header {
    width: 75%;
  }
