/*
Theme Name: Elessi Child Theme
Theme URI: http://elessi.nasatheme.com
Description: This is a child theme for Elessi Theme
Author: NasaTheme
Author URI: http://www.nasatheme.com
Template: elessi-theme
Version: 1.0
*/


/*************** CATEGORY ON HEADER ***************/
.nasa-top-cat-filter-wrap {
    background: #1e1e1e;
}

.nasa-top-cat-filter-wrap .cat-item.root-item > a {
    color: #aaa;
}

.nasa-top-cat-filter-wrap .cat-item.active > a {
    color: #fff;
}

.nasa-top-cat-filter-wrap .nasa-current-note {
    border-color: #fff;
}

.nasa-top-cat-filter-wrap .nasa-top-cat-filter {
    border-bottom: 1px solid #193f29;
}

.nasa-top-cat-filter-wrap .nasa-close-filter-cat {
    color: #fff;
}

#main-content .product-section .banner {
    margin-bottom: 0px;
}
#nasa-footer .footer-dark {
    background: #1e1e1e;
}

/** Size on Hover **/
.product-item .nasa-product-content-select-wrap {
    left: -100%;
}
.product-item .nasa-product-content-select-wrap .nasa-toggle-attr-select {
    display: none;
}
.product-item .nasa-product-content-select-wrap .nasa-product-content-child .nasa-toggle-content-attr-select .nasa-attr-ux-item {
    display: inline-block;
    margin: 0 2px;
    border-radius: 16px;
    padding: 3px 7px;
}
.product-item .nasa-product-content-select-wrap {
    width: 100%;
    height: auto;
    top: auto;
    bottom: 30px;
}
.product-item .nasa-product-content-select-wrap .nasa-product-content-child {
    padding-bottom: 0px;
}

.nav-wrapper .root-item > a {
    padding: 15px 25px 15px 0;
}
.header-icons > li {
    margin-left: 25px;
}

.pe-7s-menu:before {
    content: '\f0c9';
    font-family: FontAwesome;
}
.nasa-follow-title, .nasa-search-post-label {
    font-size: 140%;
    line-height: 2;
    padding-bottom: 10px;
    color: #FFF;
    font-weight: normal;
}

.socialmedia-widget li a::before {
    display: block;
    transition: all 0.3s ease;
    font-family: FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#nasa-footer .footer-dark .nasa-follow a, #nasa-footer .footer-dark .nasa-share li a {
    color: inherit;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}
#nasa-footer .nasa-search-form-warp .nasa-search-post-form .nasa-search-post-wrap .nasa-search-input {
    width: 80%;
    float: left;
}
#nasa-footer .nasa-search-form-warp .nasa-search-post-form .nasa-search-post-wrap .nasa-icon-submit-page {
    width: 20%;
        float: right;
}
#nasa-footer .nasa-icon-submit-page input[type="submit"] {
    padding: 11px 14px;
}
#nasa-footer .nasa-search-form-warp .nasa-search-post-form  {
    padding-left: 10px;
}


